.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.background-image {
  background-image: url("../src/components/homepageImage.jpg");
  height: 600px;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  opacity: 90%;
}

.hide {
  display: none;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.bodyContainer {
  width: 100%;
  background-color: #E2E0E0;
  padding-bottom: 5%;
}
.mb-0 {
  margin-bottom: 0px;
}
.mt-5 {
  margin-top: 5%;
}
.pl-2 {
  padding-left: 2%;
}
.mt-10 {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15%;
}
.mt-20 {
  margin-top: 5%;
}
.ml-2 {
  margin-left: 2%;
}
.ml-5 {
  margin-left: 5%;
}
.ml-25 {
  margin-left: 35%;
}
.d-inline {
  display: inline;
}
.individualPropertyDesc{
  margin: 30px 0 0 50px;
  border: 1px solid;
    padding: 10px;
}
.individualPropertyDesc:hover {
  box-shadow: 5px 5px #888888;
}
.imageBackground {
  background-color: white;
  /* padding: 0% 3%; */
  width: 50%;
  float: left;
}
.box2 {
  margin: 5% 5%;
}
.float-left {
  float: left;
}
.pt-15 {
  padding-top: 15%;
}
.pagination {
  position: "fixed";
    bottom: "0px";
    margin-bottom: 1px;
}

#cookYourself {
  margin-left: 20px;
  float: bottom;
}

#navText {
  color: black;
}

.pageTitle h1 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.pageTitle {
  padding-top: 70px;
  color: whitesmoke;
}
